<p id="notice"><%= notice %></p>

<h3 align='center'>Commissions</h3>

<table>
    <thead>
        <tr>
            <th colspam="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @commissions.each do |commission| %>
            <tr>
                <td><%= commission.id %> |</td>
                <td>This is where the name will go |</td>
                <td><%= commission.price %> |</td>
                <td><%= commission.details %> |</td>
                <td><%= commission.date_commissioned %> |</td>
                <td><%= commission.has_paid %> |</td>
                <td><%= commission.is_finished %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<br>