<p id="notice"><%= notice %></p>

<h3 align='center'>Commissions</h3>

<table class="commissions">
    <thead>
        <tr>
            <th>JobID </th>
            <th>Customer Name </th>
            <th>Price </th>
            <th>Details </th>
            <th>Date Commissioned </th>
            <th>Paid? </th>
            <th>Finished?</th>
        </tr>
    </thead>

    <tbody>
        <% @commissions.each do |commission| %>
            <tr>
                <td><%= commission.id %></td>
                <td><%= commission.customer.name %></td>
                <td><%= commission.price %></td>
                <td><%= commission.details %></td>
                <td><%= commission.date_commissioned %></td>
                <td><%= commission.has_paid %></td>
                <td><%= commission.is_finished %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<br>