<!DOCTYPE html>
<html>
  <head>
    <title>CommissionTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 align="center">Commission Tracker</h1>
    <nav>
      <p><%= link_to 'Customers', customers_path%></p>
    </nav>
    <%= yield %>
  </body>
</html>
